@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

/*EXTRAS*/

* {
    padding: 0;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
    color: #F9F7C9;
}

.magicpattern { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cfilter id=%22b%22 x=%22-200%25%22 y=%22-200%25%22 width=%22500%25%22 height=%22500%25%22%3E%3CfeGaussianBlur in=%22SourceGraphic%22 stdDeviation=%2220%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cpath fill=%22%231f1e48%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3Cellipse cx=%2251.61%22 cy=%225.328%22 rx=%221.238%22 ry=%221.064%22 fill=%22%23fff%22 opacity=%22.614%22%2F%3E%3Cellipse cx=%221506.806%22 cy=%225.266%22 rx=%222.229%22 ry=%221.985%22 fill=%22%23fff%22 opacity=%22.421%22%2F%3E%3Cellipse cx=%22452.935%22 cy=%2213.823%22 rx=%222.211%22 ry=%221.821%22 fill=%22%23fff%22 opacity=%22.097%22%2F%3E%3Cellipse cx=%221604.948%22 cy=%2210.288%22 rx=%221.483%22 ry=%221.4%22 fill=%22%23fff%22 opacity=%22.544%22%2F%3E%3Cellipse cx=%22936.184%22 cy=%2221.059%22 rx=%222.151%22 ry=%221.963%22 fill=%22%23fff%22 opacity=%22.742%22%2F%3E%3Cellipse cx=%221198.911%22 cy=%2220.347%22 rx=%222.005%22 ry=%221.927%22 fill=%22%23fff%22 opacity=%22.331%22%2F%3E%3Cellipse cx=%22661.341%22 cy=%2229.182%22 rx=%221.961%22 ry=%221.752%22 fill=%22%23fff%22 opacity=%22.747%22%2F%3E%3Cellipse cx=%221219.676%22 cy=%2227.463%22 rx=%221.976%22 ry=%221.706%22 fill=%22%23fff%22 opacity=%22.989%22%2F%3E%3Cellipse cx=%22967.455%22 cy=%2233.444%22 rx=%221.442%22 ry=%221.117%22 fill=%22%23fff%22 opacity=%22-.098%22%2F%3E%3Cellipse cx=%221819.22%22 cy=%2233.364%22 rx=%221.619%22 ry=%221.163%22 fill=%22%23fff%22 opacity=%22.734%22%2F%3E%3Cellipse cx=%22791.326%22 cy=%2242.392%22 rx=%221.824%22 ry=%221.387%22 fill=%22%23fff%22 opacity=%22.465%22%2F%3E%3Cellipse cx=%221025.061%22 cy=%2246.162%22 rx=%222.063%22 ry=%222.054%22 fill=%22%23fff%22 opacity=%22.192%22%2F%3E%3Cellipse cx=%22246.656%22 cy=%2248.515%22 rx=%221.425%22 ry=%221.293%22 fill=%22%23fff%22 opacity=%22.563%22%2F%3E%3Cellipse cx=%221546.569%22 cy=%2252.175%22 rx=%221.408%22 ry=%221.363%22 fill=%22%23fff%22 opacity=%22.707%22%2F%3E%3Cellipse cx=%22778.932%22 cy=%2258.015%22 rx=%221.611%22 ry=%221.558%22 fill=%22%23fff%22 opacity=%22.744%22%2F%3E%3Cellipse cx=%221574.104%22 cy=%2259.622%22 rx=%221.408%22 ry=%221.065%22 fill=%22%23fff%22 opacity=%22-.134%22%2F%3E%3Cellipse cx=%2243.562%22 cy=%2264.718%22 rx=%221.148%22 ry=%221.102%22 fill=%22%23fff%22 opacity=%22.021%22%2F%3E%3Cellipse cx=%221942.022%22 cy=%2270.549%22 rx=%222.143%22 ry=%221.761%22 fill=%22%23fff%22 opacity=%22.79%22%2F%3E%3Cellipse cx=%2241.987%22 cy=%2275.536%22 rx=%221.659%22 ry=%221.393%22 fill=%22%23fff%22 opacity=%22.038%22%2F%3E%3Cellipse cx=%221286.4%22 cy=%2273.908%22 rx=%221.508%22 ry=%221.506%22 fill=%22%23fff%22 opacity=%22.009%22%2F%3E%3Cellipse cx=%22565.981%22 cy=%2283.158%22 rx=%221.164%22 ry=%221.14%22 fill=%22%23fff%22 opacity=%22.714%22%2F%3E%3Cellipse cx=%221751.126%22 cy=%2286.317%22 rx=%222.313%22 ry=%222.074%22 fill=%22%23fff%22 opacity=%22.289%22%2F%3E%3Cellipse cx=%22337.56%22 cy=%2291.255%22 rx=%222.296%22 ry=%222.11%22 fill=%22%23fff%22 opacity=%22.133%22%2F%3E%3Cellipse cx=%221710.832%22 cy=%2294.047%22 rx=%222.399%22 ry=%222.087%22 fill=%22%23fff%22 opacity=%22.124%22%2F%3E%3Cellipse cx=%22707.636%22 cy=%2298.02%22 rx=%221.421%22 ry=%221.203%22 fill=%22%23fff%22 opacity=%22.5%22%2F%3E%3Cellipse cx=%221477.759%22 cy=%22103.869%22 rx=%222.152%22 ry=%221.684%22 fill=%22%23fff%22 opacity=%22.352%22%2F%3E%3Cellipse cx=%22803.715%22 cy=%22111.392%22 rx=%221.914%22 ry=%221.68%22 fill=%22%23fff%22 opacity=%22-.153%22%2F%3E%3Cellipse cx=%221977.471%22 cy=%22108.268%22 rx=%221.34%22 ry=%221.063%22 fill=%22%23fff%22 opacity=%22-.255%22%2F%3E%3Cellipse cx=%22798.796%22 cy=%22115.543%22 rx=%221.377%22 ry=%221.17%22 fill=%22%23fff%22 opacity=%22.43%22%2F%3E%3Cellipse cx=%221686.861%22 cy=%22112.371%22 rx=%222.056%22 ry=%222.009%22 fill=%22%23fff%22 opacity=%22-.047%22%2F%3E%3Cellipse cx=%22637.874%22 cy=%22121.934%22 rx=%221.574%22 ry=%221.474%22 fill=%22%23fff%22 opacity=%22.631%22%2F%3E%3Cellipse cx=%221799.977%22 cy=%22123.684%22 rx=%221.815%22 ry=%221.602%22 fill=%22%23fff%22 opacity=%22.325%22%2F%3E%3Cellipse cx=%22471.794%22 cy=%22131.567%22 rx=%221.642%22 ry=%221.296%22 fill=%22%23fff%22 opacity=%22.319%22%2F%3E%3Cellipse cx=%221780.689%22 cy=%22132.438%22 rx=%221.601%22 ry=%221.559%22 fill=%22%23fff%22 opacity=%22.717%22%2F%3E%3Cellipse cx=%2256.756%22 cy=%22137.786%22 rx=%222.085%22 ry=%221.739%22 fill=%22%23fff%22 opacity=%22.087%22%2F%3E%3Cellipse cx=%221623.616%22 cy=%22138.483%22 rx=%222.51%22 ry=%222.059%22 fill=%22%23fff%22 opacity=%22.52%22%2F%3E%3Cellipse cx=%22394.471%22 cy=%22144.27%22 rx=%222.046%22 ry=%221.633%22 fill=%22%23fff%22 opacity=%22.585%22%2F%3E%3Cellipse cx=%221863.824%22 cy=%22147.111%22 rx=%221.79%22 ry=%221.693%22 fill=%22%23fff%22 opacity=%22.53%22%2F%3E%3Cellipse cx=%22855.433%22 cy=%22152.529%22 rx=%221.998%22 ry=%221.645%22 fill=%22%23fff%22 opacity=%22.063%22%2F%3E%3Cellipse cx=%221176.262%22 cy=%22159.366%22 rx=%221.685%22 ry=%221.63%22 fill=%22%23fff%22 opacity=%22.277%22%2F%3E%3Cellipse cx=%22181.377%22 cy=%22162.572%22 rx=%221.733%22 ry=%221.7%22 fill=%22%23fff%22 opacity=%22.424%22%2F%3E%3Cellipse cx=%221523.127%22 cy=%22165.31%22 rx=%221.952%22 ry=%221.491%22 fill=%22%23fff%22 opacity=%22.556%22%2F%3E%3Cellipse cx=%22283.574%22 cy=%22170.295%22 rx=%222.483%22 ry=%221.993%22 fill=%22%23fff%22 opacity=%22-.114%22%2F%3E%3Cellipse cx=%221082.292%22 cy=%22172.502%22 rx=%222.247%22 ry=%222.024%22 fill=%22%23fff%22 opacity=%22.04%22%2F%3E%3Cellipse cx=%22147.221%22 cy=%22177.014%22 rx=%221.907%22 ry=%221.771%22 fill=%22%23fff%22 opacity=%22.646%22%2F%3E%3Cellipse cx=%221491.643%22 cy=%22183.301%22 rx=%221.335%22 ry=%221.289%22 fill=%22%23fff%22 opacity=%22.331%22%2F%3E%3Cellipse cx=%22881.781%22 cy=%22189.714%22 rx=%221.598%22 ry=%221.573%22 fill=%22%23fff%22 opacity=%22.676%22%2F%3E%3Cellipse cx=%221795.47%22 cy=%22186.223%22 rx=%221.83%22 ry=%221.514%22 fill=%22%23fff%22 opacity=%22.004%22%2F%3E%3Cellipse cx=%22523.848%22 cy=%22198.897%22 rx=%221.406%22 ry=%221.303%22 fill=%22%23fff%22 opacity=%22.339%22%2F%3E%3Cellipse cx=%221895.082%22 cy=%22199.421%22 rx=%221.567%22 ry=%221.246%22 fill=%22%23fff%22 opacity=%22.135%22%2F%3E%3Cellipse cx=%22697.416%22 cy=%22200.369%22 rx=%221.726%22 ry=%221.574%22 fill=%22%23fff%22 opacity=%22.696%22%2F%3E%3Cellipse cx=%221243.887%22 cy=%22201.487%22 rx=%221.925%22 ry=%221.818%22 fill=%22%23fff%22 opacity=%22.698%22%2F%3E%3Cellipse cx=%22827.701%22 cy=%22210.901%22 rx=%221.503%22 ry=%221.149%22 fill=%22%23fff%22 opacity=%22.677%22%2F%3E%3Cellipse cx=%221871.551%22 cy=%22209.584%22 rx=%221.778%22 ry=%221.719%22 fill=%22%23fff%22 opacity=%22.712%22%2F%3E%3Cellipse cx=%22574.802%22 cy=%22221.731%22 rx=%222.163%22 ry=%221.773%22 fill=%22%23fff%22 opacity=%22.487%22%2F%3E%3Cellipse cx=%221173.232%22 cy=%22220.237%22 rx=%221.973%22 ry=%221.924%22 fill=%22%23fff%22 opacity=%22.216%22%2F%3E%3Cellipse cx=%22170.903%22 cy=%22225.332%22 rx=%221.549%22 ry=%221.435%22 fill=%22%23fff%22 opacity=%22.349%22%2F%3E%3Cellipse cx=%221732.364%22 cy=%22231.923%22 rx=%221.22%22 ry=%221.172%22 fill=%22%23fff%22 opacity=%22.18%22%2F%3E%3Cellipse cx=%22517.468%22 cy=%22238.343%22 rx=%222.008%22 ry=%221.927%22 fill=%22%23fff%22 opacity=%22.577%22%2F%3E%3Cellipse cx=%221655.311%22 cy=%22233.755%22 rx=%221.678%22 ry=%221.628%22 fill=%22%23fff%22 opacity=%22-.216%22%2F%3E%3Cellipse cx=%22979.67%22 cy=%22246.494%22 rx=%222.592%22 ry=%222.101%22 fill=%22%23fff%22 opacity=%22-.131%22%2F%3E%3Cellipse cx=%221859.088%22 cy=%22241.089%22 rx=%222.191%22 ry=%222.018%22 fill=%22%23fff%22 opacity=%22-.116%22%2F%3E%3Cellipse cx=%22454.278%22 cy=%22250.133%22 rx=%222.281%22 ry=%221.984%22 fill=%22%23fff%22 opacity=%22.129%22%2F%3E%3Cellipse cx=%221487.277%22 cy=%22253.787%22 rx=%221.883%22 ry=%221.552%22 fill=%22%23fff%22 opacity=%22-.018%22%2F%3E%3Cellipse cx=%22456.793%22 cy=%22258.761%22 rx=%222.065%22 ry=%222.045%22 fill=%22%23fff%22 opacity=%22.181%22%2F%3E%3Cellipse cx=%221380.653%22 cy=%22257.221%22 rx=%221.347%22 ry=%221.117%22 fill=%22%23fff%22 opacity=%22.284%22%2F%3E%3Cellipse cx=%22774.112%22 cy=%22270.44%22 rx=%222.458%22 ry=%222.03%22 fill=%22%23fff%22 opacity=%22.344%22%2F%3E%3Cellipse cx=%221580.08%22 cy=%22264.652%22 rx=%222.083%22 ry=%221.728%22 fill=%22%23fff%22 opacity=%22-.018%22%2F%3E%3Cellipse cx=%22699.899%22 cy=%22272.975%22 rx=%221.481%22 ry=%221.318%22 fill=%22%23fff%22 opacity=%22.323%22%2F%3E%3Cellipse cx=%221955.289%22 cy=%22275.888%22 rx=%221.396%22 ry=%221.214%22 fill=%22%23fff%22 opacity=%22.405%22%2F%3E%3Cellipse cx=%22517.43%22 cy=%22285.234%22 rx=%221.651%22 ry=%221.303%22 fill=%22%23fff%22 opacity=%22.123%22%2F%3E%3Cellipse cx=%221508.142%22 cy=%22282.36%22 rx=%221.92%22 ry=%221.83%22 fill=%22%23fff%22 opacity=%22.147%22%2F%3E%3Cellipse cx=%22626.033%22 cy=%22288.321%22 rx=%221.962%22 ry=%221.887%22 fill=%22%23fff%22 opacity=%22-.109%22%2F%3E%3Cellipse cx=%221169.19%22 cy=%22288.023%22 rx=%222.306%22 ry=%221.919%22 fill=%22%23fff%22 opacity=%22.393%22%2F%3E%3Cellipse cx=%22284.15%22 cy=%22297.476%22 rx=%221.353%22 ry=%221.178%22 fill=%22%23fff%22 opacity=%22.138%22%2F%3E%3Cellipse cx=%221502.009%22 cy=%22298.29%22 rx=%221.385%22 ry=%221.368%22 fill=%22%23fff%22 opacity=%22.481%22%2F%3E%3Cellipse cx=%22698.16%22 cy=%22310.667%22 rx=%221.873%22 ry=%221.376%22 fill=%22%23fff%22 opacity=%22-.185%22%2F%3E%3Cellipse cx=%221061.651%22 cy=%22311.301%22 rx=%221.887%22 ry=%221.487%22 fill=%22%23fff%22 opacity=%22.498%22%2F%3E%3Cellipse cx=%22451.77%22 cy=%22317.921%22 rx=%222.178%22 ry=%221.912%22 fill=%22%23fff%22 opacity=%22.258%22%2F%3E%3Cellipse cx=%221044.375%22 cy=%22316.911%22 rx=%222.114%22 ry=%221.815%22 fill=%22%23fff%22 opacity=%22.539%22%2F%3E%3Cellipse cx=%22466.929%22 cy=%22323.912%22 rx=%222.022%22 ry=%221.611%22 fill=%22%23fff%22 opacity=%22.45%22%2F%3E%3Cellipse cx=%221609.494%22 cy=%22323.629%22 rx=%221.768%22 ry=%221.378%22 fill=%22%23fff%22 opacity=%22.615%22%2F%3E%3Cellipse cx=%22826.284%22 cy=%22330.578%22 rx=%222.155%22 ry=%221.732%22 fill=%22%23fff%22 opacity=%22.197%22%2F%3E%3Cellipse cx=%221061.113%22 cy=%22333.125%22 rx=%221.806%22 ry=%221.459%22 fill=%22%23fff%22 opacity=%22.119%22%2F%3E%3Cellipse cx=%22107.674%22 cy=%22343.721%22 rx=%221.703%22 ry=%221.377%22 fill=%22%23fff%22 opacity=%22.34%22%2F%3E%3Cellipse cx=%221698.812%22 cy=%22338.402%22 rx=%221.893%22 ry=%221.613%22 fill=%22%23fff%22 opacity=%22.407%22%2F%3E%3Cellipse cx=%22939.439%22 cy=%22346.151%22 rx=%222.05%22 ry=%221.683%22 fill=%22%23fff%22 opacity=%22.513%22%2F%3E%3Cellipse cx=%221436.585%22 cy=%22349.522%22 rx=%221.952%22 ry=%221.473%22 fill=%22%23fff%22 opacity=%22.845%22%2F%3E%3Cellipse cx=%22968.901%22 cy=%22357.26%22 rx=%221.948%22 ry=%221.671%22 fill=%22%23fff%22 opacity=%22-.104%22%2F%3E%3Cellipse cx=%221354.823%22 cy=%22359.175%22 rx=%222.238%22 ry=%221.955%22 fill=%22%23fff%22 opacity=%22.593%22%2F%3E%3Cellipse cx=%22751.171%22 cy=%22363.354%22 rx=%222.321%22 ry=%221.933%22 fill=%22%23fff%22 opacity=%22-.031%22%2F%3E%3Cellipse cx=%221860.796%22 cy=%22363.214%22 rx=%221.584%22 ry=%221.54%22 fill=%22%23fff%22 opacity=%22.535%22%2F%3E%3Cellipse cx=%22738.16%22 cy=%22368.876%22 rx=%222.097%22 ry=%221.976%22 fill=%22%23fff%22 opacity=%22.344%22%2F%3E%3Cellipse cx=%221792.014%22 cy=%22374.966%22 rx=%221.933%22 ry=%221.921%22 fill=%22%23fff%22 opacity=%22.3%22%2F%3E%3Cellipse cx=%22407.283%22 cy=%22376.02%22 rx=%221.58%22 ry=%221.376%22 fill=%22%23fff%22 opacity=%22.698%22%2F%3E%3Cellipse cx=%221397.825%22 cy=%22379.777%22 rx=%221.24%22 ry=%221.209%22 fill=%22%23fff%22 opacity=%22-.011%22%2F%3E%3Cellipse cx=%22229.033%22 cy=%22389.831%22 rx=%222.165%22 ry=%221.755%22 fill=%22%23fff%22 opacity=%22-.193%22%2F%3E%3Cellipse cx=%221318.936%22 cy=%22385.485%22 rx=%221.657%22 ry=%221.51%22 fill=%22%23fff%22 opacity=%22.623%22%2F%3E%3Cellipse cx=%22530.995%22 cy=%22395.069%22 rx=%221.639%22 ry=%221.519%22 fill=%22%23fff%22 opacity=%22.02%22%2F%3E%3Cellipse cx=%221735.48%22 cy=%22398.356%22 rx=%222.369%22 ry=%221.908%22 fill=%22%23fff%22 opacity=%22.784%22%2F%3E%3Cellipse cx=%22826.925%22 cy=%22401.147%22 rx=%222.443%22 ry=%222.073%22 fill=%22%23fff%22 opacity=%22.252%22%2F%3E%3Cellipse cx=%221075.849%22 cy=%22400.098%22 rx=%222.15%22 ry=%222.01%22 fill=%22%23fff%22 opacity=%22.66%22%2F%3E%3Cellipse cx=%22739.056%22 cy=%22413.249%22 rx=%221.527%22 ry=%221.506%22 fill=%22%23fff%22 opacity=%22.555%22%2F%3E%3Cellipse cx=%221558.502%22 cy=%22410.591%22 rx=%221.669%22 ry=%221.578%22 fill=%22%23fff%22 opacity=%22.462%22%2F%3E%3Cellipse cx=%22772.353%22 cy=%22423.658%22 rx=%222.135%22 ry=%221.937%22 fill=%22%23fff%22 opacity=%22.852%22%2F%3E%3Cellipse cx=%221658.796%22 cy=%22416.255%22 rx=%222.066%22 ry=%221.696%22 fill=%22%23fff%22 opacity=%22.336%22%2F%3E%3Cellipse cx=%22248.787%22 cy=%22431.661%22 rx=%221.913%22 ry=%221.747%22 fill=%22%23fff%22 opacity=%22.599%22%2F%3E%3Cellipse cx=%221620.971%22 cy=%22431.4%22 rx=%222.189%22 ry=%221.758%22 fill=%22%23fff%22 opacity=%22.104%22%2F%3E%3Cellipse cx=%22164.842%22 cy=%22439.781%22 rx=%221.951%22 ry=%221.672%22 fill=%22%23fff%22 opacity=%22.134%22%2F%3E%3Cellipse cx=%221604.34%22 cy=%22438.082%22 rx=%222.291%22 ry=%222.002%22 fill=%22%23fff%22 opacity=%22.061%22%2F%3E%3Cellipse cx=%22459.648%22 cy=%22443.031%22 rx=%222.055%22 ry=%221.561%22 fill=%22%23fff%22 opacity=%22-.094%22%2F%3E%3Cellipse cx=%221245.257%22 cy=%22446.099%22 rx=%221.841%22 ry=%221.359%22 fill=%22%23fff%22 opacity=%22.482%22%2F%3E%3Cellipse cx=%2298.503%22 cy=%22450.343%22 rx=%221.847%22 ry=%221.547%22 fill=%22%23fff%22 opacity=%22.192%22%2F%3E%3Cellipse cx=%221337.348%22 cy=%22452.52%22 rx=%221.481%22 ry=%221.186%22 fill=%22%23fff%22 opacity=%22.316%22%2F%3E%3Cellipse cx=%22823.153%22 cy=%22461.042%22 rx=%221.165%22 ry=%221.152%22 fill=%22%23fff%22 opacity=%22.614%22%2F%3E%3Cellipse cx=%221259.99%22 cy=%22457.979%22 rx=%221.875%22 ry=%221.42%22 fill=%22%23fff%22 opacity=%22.172%22%2F%3E%3Cellipse cx=%22862.428%22 cy=%22465.26%22 rx=%221.511%22 ry=%221.223%22 fill=%22%23fff%22 opacity=%22.114%22%2F%3E%3Cellipse cx=%221324.445%22 cy=%22465.294%22 rx=%221.426%22 ry=%221.204%22 fill=%22%23fff%22 opacity=%22.182%22%2F%3E%3Cellipse cx=%22261.769%22 cy=%22472.53%22 rx=%221.567%22 ry=%221.481%22 fill=%22%23fff%22 opacity=%22.504%22%2F%3E%3Cellipse cx=%221433.23%22 cy=%22474.585%22 rx=%221.467%22 ry=%221.148%22 fill=%22%23fff%22 opacity=%22.253%22%2F%3E%3Cellipse cx=%22844.819%22 cy=%22484.631%22 rx=%222.334%22 ry=%221.975%22 fill=%22%23fff%22 opacity=%22.859%22%2F%3E%3Cellipse cx=%221799.955%22 cy=%22482.175%22 rx=%222.275%22 ry=%221.868%22 fill=%22%23fff%22 opacity=%22.597%22%2F%3E%3Cellipse cx=%22697.726%22 cy=%22495.507%22 rx=%221.422%22 ry=%221.252%22 fill=%22%23fff%22 opacity=%22.676%22%2F%3E%3Cellipse cx=%221906.072%22 cy=%22491.482%22 rx=%221.85%22 ry=%221.513%22 fill=%22%23fff%22 opacity=%22.663%22%2F%3E%3Cellipse cx=%22760.383%22 cy=%22499.973%22 rx=%222.253%22 ry=%221.784%22 fill=%22%23fff%22 opacity=%22.727%22%2F%3E%3Cellipse cx=%221170.718%22 cy=%22496.868%22 rx=%222.067%22 ry=%221.7%22 fill=%22%23fff%22 opacity=%22.632%22%2F%3E%3Cellipse cx=%22789.938%22 cy=%22506.42%22 rx=%221.615%22 ry=%221.614%22 fill=%22%23fff%22 opacity=%22.016%22%2F%3E%3Cellipse cx=%221573.698%22 cy=%22510.286%22 rx=%221.908%22 ry=%221.901%22 fill=%22%23fff%22 opacity=%22.861%22%2F%3E%3Cellipse cx=%22393.777%22 cy=%22515.021%22 rx=%222.312%22 ry=%221.991%22 fill=%22%23fff%22 opacity=%22.109%22%2F%3E%3Cellipse cx=%221798.321%22 cy=%22515.991%22 rx=%221.418%22 ry=%221.185%22 fill=%22%23fff%22 opacity=%22.348%22%2F%3E%3Cellipse cx=%22995.245%22 cy=%22520.671%22 rx=%222.049%22 ry=%221.795%22 fill=%22%23fff%22 opacity=%22.521%22%2F%3E%3Cellipse cx=%221314.899%22 cy=%22526.742%22 rx=%221.721%22 ry=%221.601%22 fill=%22%23fff%22 opacity=%22.716%22%2F%3E%3Cellipse cx=%2220.331%22 cy=%22532.295%22 rx=%221.792%22 ry=%221.326%22 fill=%22%23fff%22 opacity=%22.098%22%2F%3E%3Cellipse cx=%221326.678%22 cy=%22530.111%22 rx=%222.397%22 ry=%221.98%22 fill=%22%23fff%22 opacity=%22.778%22%2F%3E%3Cellipse cx=%2217.268%22 cy=%22537.781%22 rx=%222.107%22 ry=%221.813%22 fill=%22%23fff%22 opacity=%22.762%22%2F%3E%3Cellipse cx=%221942.845%22 cy=%22538.199%22 rx=%221.799%22 ry=%221.304%22 fill=%22%23fff%22 opacity=%22-.104%22%2F%3E%3Cellipse cx=%22795.759%22 cy=%22547.655%22 rx=%221.353%22 ry=%221.278%22 fill=%22%23fff%22 opacity=%22.536%22%2F%3E%3Cellipse cx=%221874.222%22 cy=%22547.628%22 rx=%221.7%22 ry=%221.587%22 fill=%22%23fff%22 opacity=%22.333%22%2F%3E%3Cellipse cx=%22652.118%22 cy=%22553.463%22 rx=%221.767%22 ry=%221.675%22 fill=%22%23fff%22 opacity=%22.54%22%2F%3E%3Cellipse cx=%221411.389%22 cy=%22558.875%22 rx=%222.226%22 ry=%221.839%22 fill=%22%23fff%22 opacity=%22-.028%22%2F%3E%3Cellipse cx=%22379.633%22 cy=%22562.075%22 rx=%221.868%22 ry=%221.43%22 fill=%22%23fff%22 opacity=%22-.081%22%2F%3E%3Cellipse cx=%221900.227%22 cy=%22561.688%22 rx=%222.254%22 ry=%222.043%22 fill=%22%23fff%22 opacity=%22-.006%22%2F%3E%3Cellipse cx=%22565.456%22 cy=%22575.419%22 rx=%221.965%22 ry=%221.771%22 fill=%22%23fff%22 opacity=%22-.276%22%2F%3E%3Cellipse cx=%221390.594%22 cy=%22572.457%22 rx=%221.797%22 ry=%221.447%22 fill=%22%23fff%22 opacity=%22.736%22%2F%3E%3Cellipse cx=%2269.834%22 cy=%22578.011%22 rx=%222.592%22 ry=%222.117%22 fill=%22%23fff%22 opacity=%22.579%22%2F%3E%3Cellipse cx=%221985.47%22 cy=%22580.801%22 rx=%221.274%22 ry=%221.154%22 fill=%22%23fff%22 opacity=%22-.007%22%2F%3E%3Cellipse cx=%22797.786%22 cy=%22589.132%22 rx=%222.287%22 ry=%221.966%22 fill=%22%23fff%22 opacity=%22.515%22%2F%3E%3Cellipse cx=%221910.053%22 cy=%22589.417%22 rx=%221.591%22 ry=%221.54%22 fill=%22%23fff%22 opacity=%22.328%22%2F%3E%3Cellipse cx=%22366.005%22 cy=%22596.478%22 rx=%221.517%22 ry=%221.195%22 fill=%22%23fff%22 opacity=%22.538%22%2F%3E%3Cellipse cx=%221724.458%22 cy=%22595.528%22 rx=%221.499%22 ry=%221.189%22 fill=%22%23fff%22 opacity=%22.312%22%2F%3E%3Cellipse cx=%22861.941%22 cy=%22604.693%22 rx=%222.241%22 ry=%222.073%22 fill=%22%23fff%22 opacity=%22.545%22%2F%3E%3Cellipse cx=%221323.63%22 cy=%22607.904%22 rx=%221.408%22 ry=%221.125%22 fill=%22%23fff%22 opacity=%22.168%22%2F%3E%3Cellipse cx=%22586.633%22 cy=%22608.095%22 rx=%221.936%22 ry=%221.566%22 fill=%22%23fff%22 opacity=%22.277%22%2F%3E%3Cellipse cx=%221609.929%22 cy=%22614.292%22 rx=%222.256%22 ry=%222.016%22 fill=%22%23fff%22 opacity=%22.215%22%2F%3E%3Cellipse cx=%22539.659%22 cy=%22617.473%22 rx=%221.763%22 ry=%221.751%22 fill=%22%23fff%22 opacity=%22.862%22%2F%3E%3Cellipse cx=%221925.894%22 cy=%22621.448%22 rx=%221.982%22 ry=%221.637%22 fill=%22%23fff%22 opacity=%22.705%22%2F%3E%3Cellipse cx=%22651.493%22 cy=%22624.718%22 rx=%222.164%22 ry=%221.916%22 fill=%22%23fff%22 opacity=%22.23%22%2F%3E%3Cellipse cx=%221718.38%22 cy=%22625.676%22 rx=%221.755%22 ry=%221.592%22 fill=%22%23fff%22 opacity=%22.094%22%2F%3E%3Cellipse cx=%22320.07%22 cy=%22633.799%22 rx=%222.247%22 ry=%221.948%22 fill=%22%23fff%22 opacity=%22-.261%22%2F%3E%3Cellipse cx=%221945.069%22 cy=%22632.857%22 rx=%222.251%22 ry=%221.806%22 fill=%22%23fff%22 opacity=%22.132%22%2F%3E%3Cellipse cx=%22470.632%22 cy=%22641.782%22 rx=%221.642%22 ry=%221.578%22 fill=%22%23fff%22 opacity=%22.386%22%2F%3E%3Cellipse cx=%221031.933%22 cy=%22641.26%22 rx=%221.618%22 ry=%221.308%22 fill=%22%23fff%22 opacity=%22.649%22%2F%3E%3Cellipse cx=%22331.916%22 cy=%22654.272%22 rx=%221.842%22 ry=%221.649%22 fill=%22%23fff%22 opacity=%22.852%22%2F%3E%3Cellipse cx=%221684.998%22 cy=%22651.344%22 rx=%222.248%22 ry=%222.094%22 fill=%22%23fff%22 opacity=%22.714%22%2F%3E%3Cellipse cx=%22119.671%22 cy=%22660.595%22 rx=%221.513%22 ry=%221.068%22 fill=%22%23fff%22 opacity=%22.553%22%2F%3E%3Cellipse cx=%221721.976%22 cy=%22662.33%22 rx=%222.221%22 ry=%221.816%22 fill=%22%23fff%22 opacity=%22-.029%22%2F%3E%3Cellipse cx=%22859.131%22 cy=%22664.145%22 rx=%221.525%22 ry=%221.206%22 fill=%22%23fff%22 opacity=%22.493%22%2F%3E%3Cellipse cx=%221360.728%22 cy=%22671.866%22 rx=%221.645%22 ry=%221.523%22 fill=%22%23fff%22 opacity=%22.407%22%2F%3E%3Cellipse cx=%22568.172%22 cy=%22679.939%22 rx=%221.449%22 ry=%221.428%22 fill=%22%23fff%22 opacity=%22.718%22%2F%3E%3Cellipse cx=%221393.78%22 cy=%22673.794%22 rx=%221.846%22 ry=%221.766%22 fill=%22%23fff%22 opacity=%22-.012%22%2F%3E%3Cellipse cx=%22943.407%22 cy=%22683.162%22 rx=%221.565%22 ry=%221.311%22 fill=%22%23fff%22 opacity=%22.743%22%2F%3E%3Cellipse cx=%221383.504%22 cy=%22687.27%22 rx=%221.6%22 ry=%221.174%22 fill=%22%23fff%22 opacity=%22-.155%22%2F%3E%3Cellipse cx=%22522.2%22 cy=%22691.07%22 rx=%222.086%22 ry=%221.864%22 fill=%22%23fff%22 opacity=%22.346%22%2F%3E%3Cellipse cx=%221012.262%22 cy=%22691.069%22 rx=%221.862%22 ry=%221.391%22 fill=%22%23fff%22 opacity=%22.553%22%2F%3E%3Cellipse cx=%22652.171%22 cy=%22697.257%22 rx=%221.166%22 ry=%221.159%22 fill=%22%23fff%22 opacity=%22.106%22%2F%3E%3Cellipse cx=%221967.818%22 cy=%22701.783%22 rx=%222.237%22 ry=%221.906%22 fill=%22%23fff%22 opacity=%22.928%22%2F%3E%3Cellipse cx=%22714.919%22 cy=%22707.3%22 rx=%221.543%22 ry=%221.493%22 fill=%22%23fff%22 opacity=%22.501%22%2F%3E%3Cellipse cx=%221823.997%22 cy=%22705.12%22 rx=%221.392%22 ry=%221.368%22 fill=%22%23fff%22 opacity=%22.296%22%2F%3E%3Cellipse cx=%22173.139%22 cy=%22714.128%22 rx=%222.319%22 ry=%221.916%22 fill=%22%23fff%22 opacity=%22-.072%22%2F%3E%3Cellipse cx=%221811.212%22 cy=%22719.399%22 rx=%222.146%22 ry=%221.723%22 fill=%22%23fff%22 opacity=%22.148%22%2F%3E%3Cellipse cx=%22191.698%22 cy=%22725.704%22 rx=%222.161%22 ry=%221.912%22 fill=%22%23fff%22 opacity=%22.58%22%2F%3E%3Cellipse cx=%221957.472%22 cy=%22723.818%22 rx=%221.429%22 ry=%221.422%22 fill=%22%23fff%22 opacity=%22.432%22%2F%3E%3Cellipse cx=%22840.019%22 cy=%22730.584%22 rx=%222.099%22 ry=%221.926%22 fill=%22%23fff%22 opacity=%22.302%22%2F%3E%3Cellipse cx=%221398.056%22 cy=%22734.337%22 rx=%221.774%22 ry=%221.568%22 fill=%22%23fff%22 opacity=%22.168%22%2F%3E%3Cellipse cx=%22528.972%22 cy=%22742.772%22 rx=%221.772%22 ry=%221.625%22 fill=%22%23fff%22 opacity=%22.744%22%2F%3E%3Cellipse cx=%221866.75%22 cy=%22741.325%22 rx=%221.356%22 ry=%221.278%22 fill=%22%23fff%22 opacity=%22.64%22%2F%3E%3Cellipse cx=%22987.834%22 cy=%22745.42%22 rx=%221.493%22 ry=%221.222%22 fill=%22%23fff%22 opacity=%22.568%22%2F%3E%3Cellipse cx=%221839.523%22 cy=%22747.3%22 rx=%222.136%22 ry=%221.957%22 fill=%22%23fff%22 opacity=%22-.066%22%2F%3E%3Cellipse cx=%22285.235%22 cy=%22754.996%22 rx=%222.144%22 ry=%222.118%22 fill=%22%23fff%22 opacity=%22.157%22%2F%3E%3Cellipse cx=%221128.43%22 cy=%22757.221%22 rx=%221.821%22 ry=%221.785%22 fill=%22%23fff%22 opacity=%22-.057%22%2F%3E%3Cellipse cx=%22770.455%22 cy=%22760.053%22 rx=%221.973%22 ry=%221.584%22 fill=%22%23fff%22 opacity=%22.586%22%2F%3E%3Cellipse cx=%221099.364%22 cy=%22760.124%22 rx=%222.13%22 ry=%221.836%22 fill=%22%23fff%22 opacity=%22.467%22%2F%3E%3Cellipse cx=%22595.772%22 cy=%22774.099%22 rx=%222.31%22 ry=%221.856%22 fill=%22%23fff%22 opacity=%22.081%22%2F%3E%3Cellipse cx=%221327.33%22 cy=%22769.852%22 rx=%221.302%22 ry=%221.174%22 fill=%22%23fff%22 opacity=%22.287%22%2F%3E%3Cellipse cx=%2248.697%22 cy=%22781.454%22 rx=%222.403%22 ry=%221.958%22 fill=%22%23fff%22 opacity=%22-.008%22%2F%3E%3Cellipse cx=%221177.026%22 cy=%22777.155%22 rx=%222.007%22 ry=%221.549%22 fill=%22%23fff%22 opacity=%22-.007%22%2F%3E%3Cellipse cx=%22954.15%22 cy=%22784.553%22 rx=%222.115%22 ry=%221.839%22 fill=%22%23fff%22 opacity=%22.928%22%2F%3E%3Cellipse cx=%221303.786%22 cy=%22784.84%22 rx=%221.754%22 ry=%221.588%22 fill=%22%23fff%22 opacity=%22.232%22%2F%3E%3Cellipse cx=%22896.448%22 cy=%22793.474%22 rx=%221.853%22 ry=%221.438%22 fill=%22%23fff%22 opacity=%22.717%22%2F%3E%3Cellipse cx=%221802.919%22 cy=%22799.309%22 rx=%222.105%22 ry=%221.81%22 fill=%22%23fff%22 opacity=%22.934%22%2F%3E%3Cellipse cx=%22482.139%22 cy=%22807.087%22 rx=%222.175%22 ry=%222.082%22 fill=%22%23fff%22 opacity=%22.054%22%2F%3E%3Cellipse cx=%221503.275%22 cy=%22803.209%22 rx=%221.602%22 ry=%221.586%22 fill=%22%23fff%22 opacity=%22.167%22%2F%3E%3Cellipse cx=%22320.338%22 cy=%22815.847%22 rx=%221.452%22 ry=%221.434%22 fill=%22%23fff%22 opacity=%22.461%22%2F%3E%3Cellipse cx=%221758.182%22 cy=%22814.475%22 rx=%221.476%22 ry=%221.298%22 fill=%22%23fff%22 opacity=%22.434%22%2F%3E%3Cellipse cx=%22181.347%22 cy=%22819.875%22 rx=%221.591%22 ry=%221.459%22 fill=%22%23fff%22 opacity=%22.486%22%2F%3E%3Cellipse cx=%221948.107%22 cy=%22821.409%22 rx=%222.072%22 ry=%221.937%22 fill=%22%23fff%22 opacity=%22-.127%22%2F%3E%3Cellipse cx=%22838.091%22 cy=%22830.216%22 rx=%221.676%22 ry=%221.543%22 fill=%22%23fff%22 opacity=%22.668%22%2F%3E%3Cellipse cx=%221228.216%22 cy=%22828.785%22 rx=%222.199%22 ry=%221.823%22 fill=%22%23fff%22 opacity=%22.525%22%2F%3E%3Cellipse cx=%22447.853%22 cy=%22833.523%22 rx=%222.128%22 ry=%221.972%22 fill=%22%23fff%22 opacity=%22.78%22%2F%3E%3Cellipse cx=%221637.179%22 cy=%22832.469%22 rx=%221.599%22 ry=%221.414%22 fill=%22%23fff%22 opacity=%22.622%22%2F%3E%3Cellipse cx=%22360.513%22 cy=%22845.345%22 rx=%221.807%22 ry=%221.42%22 fill=%22%23fff%22 opacity=%22.16%22%2F%3E%3Cellipse cx=%221311.332%22 cy=%22845.22%22 rx=%222.421%22 ry=%221.944%22 fill=%22%23fff%22 opacity=%22.089%22%2F%3E%3Cellipse cx=%22815.794%22 cy=%22848.09%22 rx=%222.256%22 ry=%221.993%22 fill=%22%23fff%22 opacity=%22-.087%22%2F%3E%3Cellipse cx=%221015.508%22 cy=%22854.733%22 rx=%221.273%22 ry=%221.206%22 fill=%22%23fff%22 opacity=%22-.039%22%2F%3E%3Cellipse cx=%22173.54%22 cy=%22859.674%22 rx=%221.584%22 ry=%221.332%22 fill=%22%23fff%22 opacity=%22.577%22%2F%3E%3Cellipse cx=%221380.534%22 cy=%22861.588%22 rx=%222.321%22 ry=%222.051%22 fill=%22%23fff%22 opacity=%22.448%22%2F%3E%3Cellipse cx=%22760.46%22 cy=%22865.964%22 rx=%221.631%22 ry=%221.625%22 fill=%22%23fff%22 opacity=%22.757%22%2F%3E%3Cellipse cx=%221812.501%22 cy=%22865.383%22 rx=%221.856%22 ry=%221.419%22 fill=%22%23fff%22 opacity=%22.24%22%2F%3E%3Cellipse cx=%22767.642%22 cy=%22878.16%22 rx=%221.642%22 ry=%221.16%22 fill=%22%23fff%22 opacity=%22.03%22%2F%3E%3Cellipse cx=%221614.369%22 cy=%22877.678%22 rx=%222.272%22 ry=%221.797%22 fill=%22%23fff%22 opacity=%22.032%22%2F%3E%3Cellipse cx=%22972.81%22 cy=%22883.324%22 rx=%221.32%22 ry=%221.292%22 fill=%22%23fff%22 opacity=%22.691%22%2F%3E%3Cellipse cx=%221500.143%22 cy=%22881.077%22 rx=%221.724%22 ry=%221.601%22 fill=%22%23fff%22 opacity=%22.67%22%2F%3E%3Cellipse cx=%22334.953%22 cy=%22889.092%22 rx=%221.879%22 ry=%221.679%22 fill=%22%23fff%22 opacity=%22.591%22%2F%3E%3Cellipse cx=%221361.124%22 cy=%22894.751%22 rx=%221.738%22 ry=%221.377%22 fill=%22%23fff%22 opacity=%22.088%22%2F%3E%3Cellipse cx=%22262.339%22 cy=%22896.158%22 rx=%221.592%22 ry=%221.223%22 fill=%22%23fff%22 opacity=%22-.007%22%2F%3E%3Cellipse cx=%221452.687%22 cy=%22903.67%22 rx=%221.704%22 ry=%221.623%22 fill=%22%23fff%22 opacity=%22.728%22%2F%3E%3Cellipse cx=%22110.106%22 cy=%22906.51%22 rx=%222.14%22 ry=%221.911%22 fill=%22%23fff%22 opacity=%22.536%22%2F%3E%3Cellipse cx=%221182.806%22 cy=%22909.794%22 rx=%222.082%22 ry=%221.602%22 fill=%22%23fff%22 opacity=%22-.135%22%2F%3E%3Cellipse cx=%22560.223%22 cy=%22918.426%22 rx=%222.246%22 ry=%221.971%22 fill=%22%23fff%22 opacity=%22.103%22%2F%3E%3Cellipse cx=%221415.879%22 cy=%22918.437%22 rx=%222.453%22 ry=%222.005%22 fill=%22%23fff%22 opacity=%22.026%22%2F%3E%3Cellipse cx=%22481.31%22 cy=%22923.067%22 rx=%221.865%22 ry=%221.53%22 fill=%22%23fff%22 opacity=%22.656%22%2F%3E%3Cellipse cx=%221043.913%22 cy=%22922.881%22 rx=%221.965%22 ry=%221.893%22 fill=%22%23fff%22 opacity=%22.063%22%2F%3E%3Cellipse cx=%22202.363%22 cy=%22929.686%22 rx=%221.939%22 ry=%221.57%22 fill=%22%23fff%22 opacity=%22.64%22%2F%3E%3Cellipse cx=%221273.86%22 cy=%22931.981%22 rx=%222.386%22 ry=%222%22 fill=%22%23fff%22 opacity=%22.625%22%2F%3E%3Cellipse cx=%22755.935%22 cy=%22943.324%22 rx=%221.833%22 ry=%221.544%22 fill=%22%23fff%22 opacity=%22.49%22%2F%3E%3Cellipse cx=%221285.949%22 cy=%22939.5%22 rx=%222.036%22 ry=%222.034%22 fill=%22%23fff%22 opacity=%22.642%22%2F%3E%3Cellipse cx=%22739.357%22 cy=%22948.743%22 rx=%221.611%22 ry=%221.473%22 fill=%22%23fff%22 opacity=%22.051%22%2F%3E%3Cellipse cx=%221295.192%22 cy=%22948.342%22 rx=%221.912%22 ry=%221.478%22 fill=%22%23fff%22 opacity=%22.675%22%2F%3E%3Cellipse cx=%22435.205%22 cy=%22958.048%22 rx=%221.885%22 ry=%221.625%22 fill=%22%23fff%22 opacity=%22.673%22%2F%3E%3Cellipse cx=%221444.383%22 cy=%22956.078%22 rx=%221.489%22 ry=%221.27%22 fill=%22%23fff%22 opacity=%22.074%22%2F%3E%3Cellipse cx=%22302.489%22 cy=%22963.418%22 rx=%221.777%22 ry=%221.387%22 fill=%22%23fff%22 opacity=%22.195%22%2F%3E%3Cellipse cx=%221507.854%22 cy=%22962.518%22 rx=%222.136%22 ry=%222.064%22 fill=%22%23fff%22 opacity=%22.606%22%2F%3E%3Cellipse cx=%2239.246%22 cy=%22970.043%22 rx=%221.515%22 ry=%221.469%22 fill=%22%23fff%22 opacity=%22.457%22%2F%3E%3Cellipse cx=%221996.769%22 cy=%22969.966%22 rx=%221.781%22 ry=%221.312%22 fill=%22%23fff%22 opacity=%22.188%22%2F%3E%3Cellipse cx=%22683.865%22 cy=%22977.558%22 rx=%221.858%22 ry=%221.771%22 fill=%22%23fff%22 opacity=%22.307%22%2F%3E%3Cellipse cx=%221931.043%22 cy=%22980.759%22 rx=%221.564%22 ry=%221.24%22 fill=%22%23fff%22 opacity=%22.376%22%2F%3E%3Cellipse cx=%22554.166%22 cy=%22989.665%22 rx=%221.82%22 ry=%221.804%22 fill=%22%23fff%22 opacity=%22-.054%22%2F%3E%3Cellipse cx=%221413.394%22 cy=%22988.9%22 rx=%221.849%22 ry=%221.511%22 fill=%22%23fff%22 opacity=%22.723%22%2F%3E%3Cellipse cx=%22569.758%22 cy=%22996.69%22 rx=%221.213%22 ry=%221.132%22 fill=%22%23fff%22 opacity=%22.717%22%2F%3E%3Cellipse cx=%221204.342%22 cy=%22993.73%22 rx=%221.767%22 ry=%221.479%22 fill=%22%23fff%22 opacity=%22.499%22%2F%3E%3Cellipse cx=%22500.685%22 cy=%221003.697%22 rx=%221.082%22 ry=%221.08%22 fill=%22%23fff%22 opacity=%22.096%22%2F%3E%3Cellipse cx=%221042.364%22 cy=%221002.6%22 rx=%222.167%22 ry=%221.763%22 fill=%22%23fff%22 opacity=%22.105%22%2F%3E%3Cellipse cx=%22442.46%22 cy=%221014.59%22 rx=%222.063%22 ry=%222.01%22 fill=%22%23fff%22 opacity=%22.124%22%2F%3E%3Cellipse cx=%221737.406%22 cy=%221015.104%22 rx=%222.121%22 ry=%221.695%22 fill=%22%23fff%22 opacity=%22.622%22%2F%3E%3Cg transform=%22rotate(-75.032 354.058 -215.708)%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 x1=%220%22 y1=%221%22 x2=%22175.479%22 y2=%221%22 gradientUnits=%22userSpaceOnUse%22%3E%3Cstop stop-color=%22%23fff%22%2F%3E%3Cstop offset=%22.3%22 stop-color=%22%23fff%22 stop-opacity=%22.1%22%2F%3E%3Cstop offset=%22.7%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect x=%22-8.774%22 y=%22-10.2%22 width=%2270.192%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22105.288%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2240.771%22 cy=%22-19.323%22 r=%222.388%22 fill=%22%23fff%22 opacity=%22.647%22%2F%3E%3Ccircle cx=%2246.368%22 cy=%22-4.114%22 r=%222.228%22 fill=%22%23fff%22 opacity=%22.632%22%2F%3E%3Ccircle cx=%2222.845%22 cy=%22-14.594%22 r=%222.656%22 fill=%22%23fff%22 opacity=%22.421%22%2F%3E%3Ccircle cx=%2244.468%22 cy=%2217.068%22 r=%221.79%22 fill=%22%23fff%22 opacity=%22.409%22%2F%3E%3Ccircle cx=%2244.546%22 cy=%22-2.943%22 r=%222.832%22 fill=%22%23fff%22 opacity=%22.623%22%2F%3E%3Ccircle cx=%2248.497%22 cy=%2226.77%22 r=%222.024%22 fill=%22%23fff%22 opacity=%22.407%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-77.275 463.278 -516.92)%22%3E%3Crect x=%22-10.196%22 y=%22-10.2%22 width=%2281.568%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22122.352%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2231.681%22 cy=%226.33%22 r=%222.449%22 fill=%22%23fff%22 opacity=%22.477%22%2F%3E%3Ccircle cx=%2249.984%22 cy=%2226.445%22 r=%222.666%22 fill=%22%23fff%22 opacity=%22.56%22%2F%3E%3Ccircle cx=%2252.055%22 cy=%22.985%22 r=%221.115%22 fill=%22%23fff%22 opacity=%22.64%22%2F%3E%3Ccircle cx=%2258.865%22 cy=%22-3.003%22 r=%221.448%22 fill=%22%23fff%22 opacity=%22.557%22%2F%3E%3Ccircle cx=%2233.433%22 cy=%229.477%22 r=%221.032%22 fill=%22%23fff%22 opacity=%22.558%22%2F%3E%3Ccircle cx=%2229.498%22 cy=%22-7.104%22 r=%222.641%22 fill=%22%23fff%22 opacity=%22.439%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-73.788 885.297 -813.968)%22%3E%3Crect x=%22-7.766%22 y=%22-10.2%22 width=%2262.129%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%2293.194%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2228.89%22 cy=%22-.274%22 r=%222.896%22 fill=%22%23fff%22 opacity=%22.456%22%2F%3E%3Ccircle cx=%2226.272%22 cy=%2224.822%22 r=%222.766%22 fill=%22%23fff%22 opacity=%22.66%22%2F%3E%3Ccircle cx=%2215.954%22 cy=%22-22.425%22 r=%222.776%22 fill=%22%23fff%22 opacity=%22.66%22%2F%3E%3Ccircle cx=%2215.677%22 cy=%22-27.365%22 r=%221.251%22 fill=%22%23fff%22 opacity=%22.472%22%2F%3E%3Ccircle cx=%2240.432%22 cy=%22-28.013%22 r=%221.49%22 fill=%22%23fff%22 opacity=%22.545%22%2F%3E%3Ccircle cx=%2234.341%22 cy=%22-22.45%22 r=%222.672%22 fill=%22%23fff%22 opacity=%22.659%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-70.487 902.577 -1102.597)%22%3E%3Crect x=%22-8.449%22 y=%22-10.2%22 width=%2267.591%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22101.386%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2239.176%22 cy=%22-6.69%22 r=%221.045%22 fill=%22%23fff%22 opacity=%22.488%22%2F%3E%3Ccircle cx=%2222.891%22 cy=%22-20.214%22 r=%222.169%22 fill=%22%23fff%22 opacity=%22.413%22%2F%3E%3Ccircle cx=%2229.268%22 cy=%22-10.219%22 r=%221.285%22 fill=%22%23fff%22 opacity=%22.586%22%2F%3E%3Ccircle cx=%2226.024%22 cy=%221.608%22 r=%221.56%22 fill=%22%23fff%22 opacity=%22.516%22%2F%3E%3Ccircle cx=%2230.35%22 cy=%22-18.704%22 r=%221.269%22 fill=%22%23fff%22 opacity=%22.668%22%2F%3E%3Ccircle cx=%2220.458%22 cy=%22-5.879%22 r=%221.092%22 fill=%22%23fff%22 opacity=%22.43%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-72.572 437.096 240.447)%22%3E%3Crect x=%22-7.895%22 y=%22-10.2%22 width=%2263.164%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%2294.746%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2223.489%22 cy=%22-24.248%22 r=%221.008%22 fill=%22%23fff%22 opacity=%22.577%22%2F%3E%3Ccircle cx=%2239.085%22 cy=%221.006%22 r=%222.048%22 fill=%22%23fff%22 opacity=%22.677%22%2F%3E%3Ccircle cx=%2216.829%22 cy=%22.569%22 r=%222.676%22 fill=%22%23fff%22 opacity=%22.463%22%2F%3E%3Ccircle cx=%2219.59%22 cy=%22-23.297%22 r=%221.123%22 fill=%22%23fff%22 opacity=%22.6%22%2F%3E%3Ccircle cx=%2236.391%22 cy=%223.874%22 r=%221.822%22 fill=%22%23fff%22 opacity=%22.436%22%2F%3E%3Ccircle cx=%2226.8%22 cy=%2227.685%22 r=%222.171%22 fill=%22%23fff%22 opacity=%22.612%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-75.074 658.605 -309.766)%22%3E%3Crect x=%22-10.185%22 y=%22-10.2%22 width=%2281.48%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22122.219%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2230.234%22 cy=%22-4.218%22 r=%222.597%22 fill=%22%23fff%22 opacity=%22.663%22%2F%3E%3Ccircle cx=%2232.855%22 cy=%22-22.43%22 r=%222.826%22 fill=%22%23fff%22 opacity=%22.457%22%2F%3E%3Ccircle cx=%2244.995%22 cy=%22-10.427%22 r=%222.221%22 fill=%22%23fff%22 opacity=%22.581%22%2F%3E%3Ccircle cx=%2253.425%22 cy=%222.785%22 r=%222.761%22 fill=%22%23fff%22 opacity=%22.534%22%2F%3E%3Ccircle cx=%2222.169%22 cy=%2218.238%22 r=%222.708%22 fill=%22%23fff%22 opacity=%22.619%22%2F%3E%3Ccircle cx=%2256.134%22 cy=%2215.715%22 r=%222.522%22 fill=%22%23fff%22 opacity=%22.446%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-74.599 847.02 -586.765)%22%3E%3Crect x=%22-10.132%22 y=%22-10.2%22 width=%2281.059%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22121.589%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2243.372%22 cy=%22-24.644%22 r=%221.057%22 fill=%22%23fff%22 opacity=%22.624%22%2F%3E%3Ccircle cx=%2237.018%22 cy=%224.281%22 r=%222.849%22 fill=%22%23fff%22 opacity=%22.681%22%2F%3E%3Ccircle cx=%2247.222%22 cy=%22-3.415%22 r=%221.615%22 fill=%22%23fff%22 opacity=%22.452%22%2F%3E%3Ccircle cx=%2258.457%22 cy=%22-4.195%22 r=%221.432%22 fill=%22%23fff%22 opacity=%22.522%22%2F%3E%3Ccircle cx=%2226.718%22 cy=%2216.003%22 r=%221.667%22 fill=%22%23fff%22 opacity=%22.662%22%2F%3E%3Ccircle cx=%2257.181%22 cy=%22-16.9%22 r=%221.71%22 fill=%22%23fff%22 opacity=%22.45%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-74.471 1112.477 -720.834)%22%3E%3Crect x=%22-7.753%22 y=%22-10.2%22 width=%2262.027%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%2293.04%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2228.44%22 cy=%22-17.744%22 r=%222.968%22 fill=%22%23fff%22 opacity=%22.474%22%2F%3E%3Ccircle cx=%2244.682%22 cy=%22-27.317%22 r=%221.569%22 fill=%22%23fff%22 opacity=%22.581%22%2F%3E%3Ccircle cx=%2244.916%22 cy=%22-18.368%22 r=%222.924%22 fill=%22%23fff%22 opacity=%22.69%22%2F%3E%3Ccircle cx=%2223.931%22 cy=%225.732%22 r=%222.705%22 fill=%22%23fff%22 opacity=%22.579%22%2F%3E%3Ccircle cx=%2218.437%22 cy=%22-25.743%22 r=%222.892%22 fill=%22%23fff%22 opacity=%22.494%22%2F%3E%3Ccircle cx=%2216.439%22 cy=%226.118%22 r=%221.956%22 fill=%22%23fff%22 opacity=%22.693%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-75.861 436.42 325.068)%22%3E%3Crect x=%22-8.38%22 y=%22-10.2%22 width=%2267.044%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22100.565%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2240.545%22 cy=%224.088%22 r=%222.717%22 fill=%22%23fff%22 opacity=%22.409%22%2F%3E%3Ccircle cx=%2224.217%22 cy=%2223.87%22 r=%222.37%22 fill=%22%23fff%22 opacity=%22.657%22%2F%3E%3Ccircle cx=%2217.998%22 cy=%2226.358%22 r=%221.695%22 fill=%22%23fff%22 opacity=%22.515%22%2F%3E%3Ccircle cx=%2217.541%22 cy=%2220.245%22 r=%222.221%22 fill=%22%23fff%22 opacity=%22.634%22%2F%3E%3Ccircle cx=%2232.579%22 cy=%2210.607%22 r=%222.597%22 fill=%22%23fff%22 opacity=%22.444%22%2F%3E%3Ccircle cx=%2248.866%22 cy=%2221.716%22 r=%222.76%22 fill=%22%23fff%22 opacity=%22.471%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-73.036 1027.342 -86.368)%22%3E%3Crect x=%22-8.265%22 y=%22-10.2%22 width=%2266.123%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%2299.184%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2241.789%22 cy=%22-19.196%22 r=%221.037%22 fill=%22%23fff%22 opacity=%22.502%22%2F%3E%3Ccircle cx=%2244.729%22 cy=%22-22.576%22 r=%221.45%22 fill=%22%23fff%22 opacity=%22.559%22%2F%3E%3Ccircle cx=%2247.62%22 cy=%22-2.623%22 r=%221.841%22 fill=%22%23fff%22 opacity=%22.671%22%2F%3E%3Ccircle cx=%2218.983%22 cy=%225.632%22 r=%222.032%22 fill=%22%23fff%22 opacity=%22.454%22%2F%3E%3Ccircle cx=%2243.927%22 cy=%22.871%22 r=%221.729%22 fill=%22%23fff%22 opacity=%22.486%22%2F%3E%3Ccircle cx=%2236.261%22 cy=%2215.508%22 r=%221.552%22 fill=%22%23fff%22 opacity=%22.425%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-74.878 1106.38 -464.999)%22%3E%3Crect x=%22-8.946%22 y=%22-10.2%22 width=%2271.569%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22107.354%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2222.515%22 cy=%226.536%22 r=%222.284%22 fill=%22%23fff%22 opacity=%22.699%22%2F%3E%3Ccircle cx=%2249.984%22 cy=%22-20.082%22 r=%222.846%22 fill=%22%23fff%22 opacity=%22.696%22%2F%3E%3Ccircle cx=%2231.855%22 cy=%22-26.278%22 r=%222.31%22 fill=%22%23fff%22 opacity=%22.546%22%2F%3E%3Ccircle cx=%2231.086%22 cy=%22-27.485%22 r=%222.024%22 fill=%22%23fff%22 opacity=%22.42%22%2F%3E%3Ccircle cx=%2250.603%22 cy=%22-19.541%22 r=%222.191%22 fill=%22%23fff%22 opacity=%22.554%22%2F%3E%3Ccircle cx=%2218.31%22 cy=%22-6.861%22 r=%221.151%22 fill=%22%23fff%22 opacity=%22.538%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-71.033 1456.894 -636.532)%22%3E%3Crect x=%22-9.264%22 y=%22-10.2%22 width=%2274.114%22 height=%2220.4%22 rx=%2220.4%22 ry=%2220.4%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22111.172%22 height=%225.7%22 rx=%225.7%22 ry=%225.7%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2251.706%22 cy=%22-9.736%22 r=%222.506%22 fill=%22%23fff%22 opacity=%22.667%22%2F%3E%3Ccircle cx=%2237.6%22 cy=%2227.7%22 r=%221.549%22 fill=%22%23fff%22 opacity=%22.6%22%2F%3E%3Ccircle cx=%2244.736%22 cy=%22-27.808%22 r=%222.667%22 fill=%22%23fff%22 opacity=%22.488%22%2F%3E%3Ccircle cx=%2219.353%22 cy=%22-28.245%22 r=%221.597%22 fill=%22%23fff%22 opacity=%22.409%22%2F%3E%3Ccircle cx=%2241.254%22 cy=%2225.728%22 r=%221.547%22 fill=%22%23fff%22 opacity=%22.664%22%2F%3E%3Ccircle cx=%2231.592%22 cy=%223.626%22 r=%221.364%22 fill=%22%23fff%22 opacity=%22.579%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
  background: #000336;
}

::-webkit-scrollbar-thumb {
    background: #9f6fcc;
}

a {
    text-decoration: none;
    color: #F9F7C9;
}
a :link {
    text-decoration: none;
}
a :visited {
    text-decoration: none;
}
a :hover {
    text-decoration: none;
}
a :active {
    text-decoration: none;
}

/*
@media only screen and (min-width: 992px) {
*/
/*HEADER*/

*{
    box-sizing: border-box;
    transition: all 0.4s;
}

.containers{
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar section */

.navs{
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color:#000336;
    z-index: 2;
}

.navs div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.navs div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.navs div.logo a:hover {
    color: #c0c0c0;
}

.navs div.main_list{
    width: 600px;
    height: 65px;
    float: right;
}

.navs div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.navs div.main_list ul li{
    width: 120px;
    height: 65px;
}

.navs div.main_list ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
}

.navs div.main_list ul li a:hover{
    color: #c0c0c0;
}

.navs div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.navs div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.navs div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.navs div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.navs div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.navs div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.navs div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.navs div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.navs div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.navs div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.navs div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .containers{
        margin: 0;
    }
    
}

@media screen and (max-width:991px) {
    
    .containers{
        margin: 0;
    }
    
    .navs div.logo{
        margin-left: 15px;
    }
    
    .navs div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
        padding-left: 0pc;
    }
    
    .navs div.show_list{
        height: 200px;
    }
    
    .navs div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
        padding-left: 0;
    }
    
    .navs div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:#000336;
    }
    
    .navs div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .navs div.media_button{
        display: block;
    }
}

/*HOME*/

.home-section {
    display: flex;
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    overflow: none;
}

.home-container {
    padding-top: 9vw;
    padding-left: 15vh;
    text-align: left;
    grid-column: 1/3;
}

.icon-link-group-2 {
    display: none;
}

.name {
    font-size: 3vw;
    font-weight: bolder;
    background: -webkit-linear-gradient(#80BCBD, #AAD9BB, #D5F0C1, #F9F7C9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bio {
    font-size: 1.5vw;
    padding-top: 30px;
    color: #F9F7C9;
}

.btn-1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-right: 10vw;
}

.resume-btn {
    background-color: transparent;
    height: 55px;
    width: 130px;
    color: #F9F7C9;
    text-align: center;
    border: #F9F7C9 solid 2px;
    border-radius: 6px;
}

.resume-btn :hover {
    cursor: pointer;
}

.projects-btn {
    background-color: #3D407C;
    height: 55px;
    width: 130px;
    border: none;
    color: #F9F7C9;
    text-align: center;
    border-radius: 6px;
    outline: none;
}

.projects-btn :hover {
    cursor: pointer;
}

.pic-bg {
    height: 100vh;
    background-color: #000336;
    grid-column: 4/7;
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;
}

.home-picture  {
    width: 25vw;
    height: 25vw;
    background-color: #F9F7C9;
    border: 8px solid #000336;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    top: 20vh;
    right: 16vw;
}

.home-picture-2 {
    width: 17vw;
    height: 17vw;
    border: 10px solid #000336;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: white;
}

.icon-links {
    color: #F9F7C9;
    font-size: 35px;
}

.icon-link-group-1 {
    grid-column: 2/3;
    padding-left: 30px;
    padding-top: 35vh;
}

/*ABOUT ME*/

.about-me-1 {
    color: #F9F7C9;
    padding-left: 10vw;
    padding-top: 8vw;
    padding-right: 9vw;
    font-size: clamp(1.125rem, 0.9728rem + 0.7609vi, 1.5625rem);
    height: 100%;
}

.sub-heading {
    opacity: 50%;
    font-size: 20px;
}

.video-div {
    width: 100%;
    height: auto;
}

.video {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 17vw;
    padding-right: 17vw;
}

.about-boxes {
    display: flex;
    flex-wrap: wrap;
}

.about-box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 19vw;
    height: 6vw;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 20px;
}

.about-words {
    font-size: 1.4vw;
    padding-top: 1.5vw;
    padding-left: 1.3vw;
}

.email {
    font-size: 1.2vw;
}

/*SKILLS*/

.skills-1 {
    padding: 6vw;
}

.group-1 {
    overflow-x: hidden;
}

.card-group {
    padding-left: 10vw;
    max-width: 78.75rem;
    display: flex;
    column-gap: 1rem;
    padding: 3.125rem;
}

.cards {
    flex: 0 0 18.75vw;
    display: flex;
    flex-direction: column;
    height: 28.70rem;
    padding: 2rem;
    transition: transform 250ms;
    background-image: linear-gradient(to right, rgb(123, 111, 139), rgb(46, 61, 110));;
    border-radius: 10px;
    border: #F9F7C9 solid 2px;
}

.cards:not(:first-child) {
    margin-left: -8.125rem;
}

.cards:hover {
    transform: translate(-0.5rem, -1rem)
                rotate(3deg);
}

.cards:hover ~ .cards {
    transform: translateX(8.125rem);
}

.moon {
  font-size: 1.0vw;
}

.skill-pictures {
    width: 18vw;
    height: 18vw;
    align-self: center;
}

.skills-word {
    font-size: 1.5vw;
    font-weight: bolder;
}

.card-group-2 {
    display: none;
}

.cards-2 {
    display: none;
}

/*PROJECTS*/

.projects {
    padding-left: 10vw;
    padding-top: 8vw;
    padding-right: 2vw;

}

.project-box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 35vw;
    height: 40vw;
    margin-left: 1vw;
    margin-top: 3vw;
    margin-right: 6vw;
}

.project-words {
    font-size: 1.2vw;
    padding-top: 1.4vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    text-align: justify;
}

.project-pictures {
    width: 32.8vw;
    padding-top: 2vw;
    padding-left: 1vw;
}

project-links :link {
    text-decoration: underline;
}

.word-border {
    border: 1px solid #F9F7C9; 
    margin-top: 1.2vw; 
    margin-left: 1.1vw; 
    margin-right: 1.1vw;
    height: 18vw;
}

/* EDUCATION */

.education {
    padding-left: 10vw;
}

.education-box {
    padding-top: 5vw;
    display: flex;
    flex-wrap: wrap;
}

.education-boxes {
    border-left: 6px solid ;
    border-radius: 30px;
    width: 36vw;
    height: 19vw;
    margin-left: 1vw;
    margin-top: 1vw;
    padding-left: 3vw;
    padding-top: 2vw;
    margin-right: 2vw;
}

.education-boxes {
    display: inline-block;
    border-left: 3px solid #F9F7C9;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    position: relative;
    
    &::before {
        content: '';
        border-left: 2px solid #F9F7C9;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}

.logo-heading {
    display: flex;
}

.logo-school {
    width: 50px;
    height: 50px;
}

/*CONTACT ME*/

.contact-me {
    padding-left: 10vw;
}

.contact-box {
    padding-top: 1vw;
    display: flex;
    flex-wrap: wrap;
}

.contact-boxes {
    border-radius: 30px;
    width: 36vw;
    height: 7vw;
    margin-left: 1vw;
    margin-top: 1vw;
    padding-left: 3vw;
    padding-top: 2vw;
    margin-right: 2vw;
    padding-bottom: 7rem;
}

.contact-boxes {
    display: inline-block;
    border-bottom: 3px solid #F9F7C9;;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    position: relative;
}

.space {
    padding: 5vw;
}
/*
}
*/

@media only screen and (max-width: 768px) {

    /*HOME*/

    .home-section {
        display: grid;
        grid-template-rows: 40% 10% 20% 10% 10% 10%;
        width: 100%;
    }

    .home-container {
        margin-top: 70px;
        padding-left: 6vh;
        text-align: center;
        grid-row: 1/2;
        grid-column: 1/6;
    }

    .pic-bg {
        background-color: transparent;
        height: 0;
        width: 100%;
        margin-top: 250px;
    }

    .home-picture {
        display: none;
    }

    .icon-links {
        font-size: 10vw;
        padding-right: 4vw;
    }

    .icon-link-group-1 {
        display: none;
    }

    .icon-link-group-2 {
        display: block;
        display: flex;
        justify-content: center;
        padding-top: 10vw;
    }

    .name {
        font-size: 9vw;
        padding: 0;
    }

    .bio {
        font-size: 3vh;
        padding-top: 30px;
    }

    .btn-1 {
        margin-top: 50px;
        display: block;
        width: 100%;
        padding-right: 0vw;
    }

    .resume-btn {
        height: 55px;
        padding: 3vw;
        width: 100%;
    }

    .projects-btn {
        height: 55px;
        margin-top: 20px;
        width: 100%;
    }

    /*ABOUT ME*/

    .about-me-1 {
        padding-left: 8vw;
        padding-top: 18vh;
        padding-right: 8vw;
        font-size: clamp(0.7850rem, 0.6700rem + 0.4600vi, 1.3600rem);
        height: 100%;
    }

    .sub-heading {
        font-size: 20px;
    }

    .video {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5vw;
        padding-right: 5vw;
        height: 240px;
    }

    .about-boxes {
        display: flex;
        flex-wrap: wrap;
    }

    .about-box {
        width: 40vw;
        height: 10vw;
        margin-left: 1vw;
        margin-top: 1vw;
    }

    .about-words {
        font-size: 3vw;
        padding-top: 1.5vw;
        padding-left: 1.3vw;
    }

    .email {
        font-size: 2.5vw;
    }

    /*SKILLS*/

    .group-1 {
        overflow-x: none;
    }

    .card-group {
        display: none;
    }

    .cards {
        display: none;
    }

    .card-group-2 {
        padding-top: 3rem;
        display: block;
        padding-left: 2rem;
        width: 30rem;
        column-gap: 1rem;
        padding-right: 3rem;
    }

    .cards-2 {
        display: block;
        height: 20.70rem;
        padding: 2rem;
        margin-bottom: 2vh;
        background-image: linear-gradient(to right, rgb(123, 111, 139), rgb(46, 61, 110));;
        border-radius: 10px;
        border: #F9F7C9 solid 2px;
        align-items: center;
    }

    .cards:not(:first-child) {
        margin-left: none;
    }

    .cards:hover {
        transform: none;
    }

    .cards:hover ~ .cards {
        transform: none;
    }

    .skill-pictures {
        width: 12rem;
        height: 12rem;
        padding-bottom: 2REM;
        margin-left: 3rem;
        text-align: center;
    }

    .skills-word {
        font-size: 1.2rem;
        font-weight: bolder;
    }     
    
    /* EDUCATION */

    .education-box {
        padding-top: 5rem;
        display: block;
    }

    .education-boxes {
        width: 36rem;
        height: 19rem;
    }

    .course {
        font-size: 1.5rem;
    }

    /*CONTACT ME*/

    .contact-box {
        padding-top: 1vw;
        display: flex;
        flex-wrap: wrap;
    }

    .contact-boxes {
        border-radius: 30px;
        width: 36rem;
        height: 7vw;
        margin-left: 1vw;
        margin-top: 1vw;
        padding-left: 3vw;
        padding-top: 5vw;
        margin-right: 2vw;
        padding-bottom: 5rem;
    }

    .contact-boxes {
        display: inline-block;
        border-bottom: 3px solid #F9F7C9;;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        position: relative;
    }

    /*PROJECTS*/

    .projects {
        padding-top: 6rem;
    }

    .project-box {
        width: 16rem;
        height: 20rem;
    }

    .project-words {
        font-size: 3.4vw;
        padding-top: 1.4vw;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        text-align: justify;
    }

    .project-pictures {
        width: 15.5rem;
    }   

    .word-border {
        height: 12rem;
    }
}